<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ApplicationBaseUrls" value="http://localhost:9988" />
    <add key="BrokerSettings.HostName" value="192.168.99.100" />
    <add key="BrokerSettings.UserName" value="sa" />
    <add key="BrokerSettings.Password" value="Sa123456" />
    <add key="RetrySettings.Count" value="5" />
    <add key="RetrySettings.Interval" value="5000" />
  </appSettings>
</configuration>